doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Doğukan Batal
    meta(name="title" content="Doğukan Batal")
    meta(name="description" content="Hi, I’m Doğukan. I’m a Frontend Developer,  UI Designer based in Istanbul, Turkey.")

    // Open Graph / Facebook
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://dogu.dev")
    meta(property="og:title" content="Doğukan Batal")
    meta(property="og:description" content="Hi, I’m Doğukan. I’m a Frontend Developer, UI Designer based in Istanbul, Turkey.")
    meta(property="og:image" content="https://dogu.dev/img/meta.png")
    // Twitter
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:url" content="https://dogu.dev")
    meta(property="twitter:title" content="Doğukan Batal")
    meta(property="twitter:description" content="Hi, I’m Doğukan. I’m a Frontend Developer, UI Designer based in Istanbul, Turkey.")
    meta(property="twitter:image" content="https://dogu.dev/img/meta.png")
    // favicon
    link(rel='icon' type='image/png' href='./img/favicon.png')
    link(rel='apple-touch-icon' href='./img/apple-touch-icon.png')
    // =========================================================
    // Styles
    // =========================================================
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet")


    // Main Style
    link(rel='stylesheet' href='./css/app.css?v=1.1')
