include inc/head
body
    main
        include inc/header
        .container
            .card
                .card-content
                    h1.card-title Welcome!
                    p.card-text Hi, I’m Doğukan. I’m a 
                        strong Frontend Developer, UI Designer 
                        | based in Istanbul, Turkey.
                    .card-bottom
                        p.card-info If you have a project, please feel free to drop me a line at 
                            a(href="mailto:hi@dogu.dev" class="card-mail"): strong hi[at]dogu.dev.  
                            |  Also you can take a look 
                            strong my works 
                            | from the links below.
                        .card-social
                            a(href="https://github.com/dogukanbatal" target="_blank" title="github"): img(src="./img/github.svg" alt="github")
                            a(href="https://linkedin.com/in/dogukanbatal" target="_blank" title="linkedin"): img(src="./img/linkedin.svg" alt="linkedin")
                            a(href="https://behance.net/dogukanbatal" target="_blank" title="Behance"): img(src="./img/behance.svg" alt="behance")
                            a(href="https://dribbble.com/dogukanbatal" target="_blank" title="Dribble"): img(src="./img/dribbble.svg" alt="dribbble")
                            a(href="https://codepen.com/dogukanbatal" target="_blank" title="codepen"): img(src="./img/codepen.svg" alt="codepen")
                            a(href="https://twitter.com/dogukanbatal" target="_blank" title="twitter"): img(src="./img/twitter.svg" alt="twitter")
                            //- a(href="https://instagram.com/dogukanbatal" target="_blank" title="instagram"): img(src="./img/instagram.svg" alt="instagram")
                            //- a(href="https://facebook.com/dogubatal" target="_blank" title="facebook"): img(src="./img/facebook.svg" alt="facebook")
                .card-img
                    img(src="./img/dogukanbatal.png" alt="Doğukan Batal")
        include inc/footer
    include inc/scripts
    // =========================================================
    // Required for this page scripts
    // =========================================================
