//- //footer 
//- footer.footer  
//-     p.footerText  Copyright 2022 | Lorem ipsum has bin 
//-     .footerSocial
//-         a.footerSocial-link(href="https://facebook.com") 
//-             i.fa.fa-facebook
//-         a.footerSocial-link(href="https://twitter.com") 
//-             i.fa.fa-twitter
//-         a.footerSocial-link(href="https://instagram.com") 
//-             i.fa.fa-instagram
//-         a.footerSocial-link(href="https://youtube.com") 
//-             i.fa.fa-youtube

