// =========================================================
// Scripts
// =========================================================
// jquery

script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js")
// main js
script(src='./js/app.js' defer='')
